.about__content {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    text-align: right;
    margin-left: 20vw;
}

.about__mobileContent {
    font-size: 13px;
    margin-left: 15vw;
}