.App {
  text-align: center;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mobileApp {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.content {
  flex: 1;
  margin: 25px;
  padding: 25px;
  border: 1px solid rgba(255, 42, 0, 0.3);
  border-radius: 10px;
  cursor: default;
  overflow-y: scroll;
}

.mobileContent {
  margin: 15px;
  padding: 15px;
}

.link {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.1, 0.4, 0.2, 1);
  text-decoration: none;
}

.link:hover {
  color: #ff2a00;
  fill: #ff2a00;
}

.title {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 32px;
  text-align: right;
  margin: 0px 0px 30px 0px;
}

.mobileTitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.newtabicon {
  margin: 0px 0px 0px 3px;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: all 2000ms cubic-bezier(0.1, 0.4, 0.2, 1);
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
}