.App {
  text-align: center;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.mobileApp {
  display: flex;
  flex-direction: column;
  height: 86vh;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.mobileBackground {
  height: 86vh;
}

.header {
  width: 20vw;
  margin-left: 40px;
  margin-top: 40px;
  text-align: left;
  cursor: default;
}

.mobileHeader {
  width: 80vw;
  margin-left: 20px;
  margin-top: 25px;
  margin-bottom: 0px;
  text-align: left;
}

.mobileMenu {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.menuLinkText {
  font-family: 'Inter';
  font-weight: 600;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

.mobileMenuLinkText {
  font-size: 13px;
  margin-right: 35px;
}

.content {
  flex: 1;
  margin: 25px;
  padding: 25px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  cursor: default;
  overflow-y: scroll;
}

.mobileContent {
  margin: 15px;
  padding: 15px;
}

.link {
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.1, 0.4, 0.2, 1);
  text-decoration: none;
}

.link:hover {
  color: #cccccc;
  fill: #cccccc;
}

.title {
  font-family: 'Merriweather';
  font-weight: 300;
  font-size: 32px;
  text-align: right;
  margin: 0px 0px 30px 0px;
}

.mobileTitle {
  font-size: 24px;
  margin-bottom: 15px;
}

.newtabicon {
  margin: 0px 0px 0px 3px;
}