.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: 'Inter';
  display: flex;
  flex-direction: row;
}

.background {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.header {
  width: 20vw;
  margin-left: 40px;
  margin-top: 40px;
  text-align: left;
}

.content {
  width: 80vw;
  margin: 20px;
  padding: 25px;
  border: 1px solid #aaaaaa;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
}

.menuLink {
  font-family: 'Inter';
  font-weight: 500;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.menuLink:hover {
  color: #cccccc
}